<div id="store">
  <div class="container">
    <!-- header -->
    <h1>Store</h1>
    <hr width="80%">

    <!-- Categories -->
    <ul class="nav_store cl-effect-12">
      <a href="#" class="all">ALL</a>
      <a href="#" data-id="Bracelet">BRACELET</a>
      <a href="#" data-id="Earrings">EARRING</a>
      <a href="#" data-id="Necklace">NECKLACE</a>
      <a href="#" data-id="Other">HAIR</a>
      <a href="#" data-id="Other">SCARF</a>
    </ul>

    <div id="Bracelet" class="grid-container" style="display:block;">
      <ul class="grid">
        <% @bracelets_images.each do |image| %>
            <figure class="effect-lexi">
              <a href="#product"><img src="<%= image.image_path[0] %>" ></a>
              <figcaption>
                <% @bracelets.each do |product| %>
                    <% if product.product_id == image.product_id %>
                        <h4><%= product.name %></h4>
                        <h4>$<%= product.price %></h4>
                    <% end %>
                <% end %>
              </figcaption>
            </figure>
        <% end %>

      </ul>
    </div>

    <div id="Earrings" class="grid-container">
      <ul class="grid">
        <% @earrings_images.each do |image| %>
            <li>
              <%= link_to image_tag(image.image_path[0], :alt => image.product_id), product_show_path %>
              <% @earrings.each do |product| %>
                  <% if product.product_id == image.product_id %>
                      <h4><%= product.name %></h4>
                      <h4>$<%= product.price %></h4>
                  <% end %>
              <% end %>
            </li>

        <% end %>
      </ul>
    </div>

    <div id="Necklace" class="grid-container">
      <ul class="grid">
        <% @necklaces_images.each do |image| %>
            <li class="effect-lexi">
              <a href="#product"><img src="<%= image.image_path[0] %>" ></a>
              <figcaption>
                <% @necklaces.each do |product| %>
                    <% if product.product_id == image.product_id %>
                        <h4><%= product.name %></h4>
                        <h4>$<%= product.price %></h4>
                    <% end %>
                <% end %>
              </figcaption>
            </li>
        <% end %>
      </ul>
    </div>

  </div>
</div> <!-- store -->

