<div id="home_page">
  <!-- Site navigation menu -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-
							example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("JM_logo.png"), root_path, class: "navbar-logo" %>
      </div>
      <!-- menu item -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
        <div id="menu-center">
        <ul class="nav navbar-nav navbar-left" data-hover="dropdown" data-animations="lightSpeedIn" >
          <li><%= link_to "HOME", root_path + "#home_page", class: "menu", title: "home" %></li>
          <li><a class="menu" href="#product">ABOUT US</a></li>
          <li class="dropdown"><%= link_to root_path + "#store", class: "menu all" do %>
            STORE<span class="caret-right"></span><% end %>
            <ul class="dropdown-menu">
              <li><%= link_to "HOME", root_path + "#home_page", class: "menu", title: "home" %></li>
              <li><%= link_to "Earring", root_path + "#store", class: "menu", :"data-id" => "Earrings" %></li>
              <li><%= link_to "Necklace", root_path + "#store", class: "menu", :"data-id" => "Necklace" %></li>
              <li><a class="menu" href="#store" data-if="Hair">Hair</a></li>
              <li><a class="menu" href="#store" data-id="Scarf">Scarf</a></li>
            </ul>
          </li>
          <li><%= link_to "CONTACT US", root_path, class: "menu" %></li>
          <li><a href="#">CART</a></li>
        </ul>
        </div>

        <nav class="nav navbar-nav navbar-fixed-bottom"
             data-hover="dropdown" data-animations="lightSpeedIn">
          <div class="info">
            <div class="social_icon">
              <table cellpadding="0" width="200" cellspacing="0">
                <tr>
                  <td><a class="fb" href="http://www.facebook.com/" target="_blank">
                    <img src="/assets/fb.png" title="Instasntgram" width="30" height="30" border="0"></a></td>
                  <td><a class="ig" href="http://www.facebook.com/" target="_blank">
                    <img src="/assets/ig.png" title="Instasntgram" width="30" height="30" border="0"></a></td>
                  <td><a class="mail" href="mailto:jomiaccessories@gmail.com?subject=Question
										&body=Simply type your question here:" target="_blank">
                    <img src="/assets/mail.png" title="Mail" width="30" height="30" border="0"></a></td>
                </tr>
              </table>
            </div>
            <!--</table>-->
            <p>Copyright © 2015 JM Accessories. <br>All Rights Reserved<br>Made by Jonathan Poon</p>
          </div>
        </nav>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

</div> <!-- main -->