<!DOCTYPE html>
<html>
<head>
  <title>JM Accessories</title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"%>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"%>
  <%= stylesheet_link_tag "/assetsbootstrap-dropdownhover.min.css"%>

  <%= javascript_include_tag "http://code.jquery.com/jquery-2.1.1.min.js" %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" %>
  <script src="/assets/bootstrap-dropdownhover.min.js"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= render "layouts/home" %>

	<!--<div id="about_us">-->
		<!--<p id="home" style="display:block;" align="center">Click to learn more about us!</p>-->
		<!--<div id="about" style="display:none;">-->
				<!--<p align="center">Welcome to JM Accessories!</p>-->
				<!--<p align="center">We are currently in development&hellip;</p>-->
				<!--<p align="center">COME BACK SOON!</p>-->
		<!--</div>-->
	<!--</div> &lt;!&ndash; about us &ndash;&gt;-->

    <%= yield %>
    <!--<%= render "layouts/contact_us" %>-->


    <script src="/assets/jquery.quicksand.js"></script>
    <script src="/assets/script.js"></script>
</body>
</html>
